<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helados la Delicia®</title>
    <link rel="stylesheet" href="css/styles.css">

<!--Integración de estilos de fuentes-->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Lobster&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body>

    <nav class="navbar">
        <div class="brand">Helados La Delicia ® </div>
        
        <li class="social-icons">
            <a href="https://wa.me/+541130171218" target="_blank" class="icono">
                <i class="fab fa-whatsapp"></i>
                <span class="whatsapp-text">WhatsApp</span>
            </a>
            <a href="https://www.instagram.com/helados.la.delicia/" target="_blank" class="icono">
                <i class="fab fa-instagram"></i>
                <span class="instagram-text">Instagram</span>
            </a>
        </li>
    </nav>
    

    <div class="container">
        
        <h1>¡Deliciosos Helados a tu Puerta!</h1>

        <div class="texto-container">
            <h2>1Kg $7600</h2>
            <h2>2Kg $14000</h2>
        </div>

        <img src="img\portada.jpeg" alt="Deliciosas bochas heladas decorativas con frutos secos" class="imagen-responsive">

        <div class="texto-container">
            <h2>Promos imperdibles en efectivo y con QR! Delivery sin cargo.</h2>
        </div>


          <!-- Div para mostrar los sabores seleccionados
          <div id="saboresSeleccionados">
            <h2>Sabores disponibles:</h2>
            <ul id="listaSabores"></ul>
          </div> -->


          <div class="flavors-container">
            <div class="flavor">Limón</div>
            <div class="flavor">Limón granizado</div>
            <div class="flavor">Ananá</div>
            <div class="flavor">Frutilla</div>
            <div class="flavor">Durazno</div>
            <div class="flavor">Mousse de limón con frutilla</div>
            <div class="flavor">Banana</div>
            <div class="flavor">Frutos del bosque</div>
            <div class="flavor">Frambuesa</div>
            <div class="flavor">Cereza a la panna</div>
            <div class="flavor">Crema del cielo</div>
            <div class="flavor">Tramontana</div>
            <div class="flavor">Crema americana</div>
            <div class="flavor">Flan con dulce de leche</div>
            <div class="flavor">Crema Oreo</div>
            <div class="flavor">Crema vainilla</div>
            <div class="flavor">Banana split</div>
            <div class="flavor">Bananita dolca</div>
            <div class="flavor">Crema rusa</div>
            <div class="flavor">Granizado</div>
            <div class="flavor">San bayón con cereza</div>
            <div class="flavor">Crema de almendras</div>
            <div class="flavor">Crema rockets</div>
            <div class="flavor">Crema de coco</div>
            <div class="flavor">Mantecol</div>
            <div class="flavor">Mascarpone</div>
            <div class="flavor">Menta granizada</div>
            <div class="flavor">Kinotos al whisky</div>
            <div class="flavor">Sambayón</div>
            <div class="flavor">Sambayón granizado</div>
            <div class="flavor">Frutillas a la crema</div>
            <div class="flavor">Vainilla con pasas al Rhum</div>
            <div class="flavor">Dulce de leche con nuez</div>
            <div class="flavor">Dulce de leche</div>
            <div class="flavor">Dulce de leche tramontana</div>
            <div class="flavor">Dulce de leche bombón</div>
            <div class="flavor">manjar de dulce de leche</div>
            <div class="flavor">Dulce de leche granizado</div>
            <div class="flavor">Chocolate</div>
            <div class="flavor">Chocolate marroc</div>
            <div class="flavor">Chocolate con almendras</div>
            <div class="flavor">Chocolate granizado</div>
            <div class="flavor">Chocolate blanco</div>
            <div class="flavor">Chocolate con pasas al rhum</div>
            <div class="flavor">Chocolate amargo</div>
            <div class="flavor">Chocolate Bariloche</div>
            <div class="flavor">Chocolate tentación</div>
            <div class="flavor">Chocolate Kinder</div>
            <div class="flavor">Mousse de chocolate</div>
        </div>
        

        <h2>Contáctanos para hacer tu pedido o realiza tu pago directamente.</h2>
        <h2>Podes pedir tu helado y pagar en el momento de recibir el pedido escaneando QR!</h2>
        
        <div class="buttons">
            <a href="https://wa.me/+541130171218" class="btn whatsapp">Contactarme por WhatsApp</a>
        </div>
        <div class="buttons">
            <a href="https://mpago.la/1XYzr1K" class="btn mercadopago">MercadoPago 1Kg $7600</a>
        </div>

        <div class="buttons">
            <a href="https://mpago.la/2MHtiWd" class="btn mercadopago">MercadoPago 2Kg $14000</a>
        </div>

        </div>

        <h2>Utilice los siguientes QR para realizar pago directamente o solicitelos al repartidor al momento de recibir su pedido.</h2>

<div class="qr-container">
    <img src="img/qr1kg.png" alt="QR a escanear el cual dará acceso a abonar $7600 correspondiente a 1KG" class="imagen-responsive2">
    <img src="img/qr2kg.png" alt="QR a escanear el cual dará acceso a abonar $14000 correspondiente a 2KG" class="imagen-responsive2">
</div>

    <footer>
        <p class="pfooter">&copy; 2025 Helados La Delicia. Todos los derechos reservados.</p>
    </footer>

    <script>
        // Recuperar los sabores seleccionados de localStorage
        const sabores = JSON.parse(localStorage.getItem('saboresSeleccionados')) || [];
        const listaSabores = document.getElementById('listaSabores');

        // Mostrar los sabores en la lista
        sabores.forEach(sabor => {
            const li = document.createElement('li');
            li.textContent = sabor;
            listaSabores.appendChild(li);
        });
    </script>
</body>
</html>