<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Helados</title>
    <link rel="stylesheet" href="css/styles.css">

<!--Integración de estilos de fuentes-->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Lobster&display=swap" rel="stylesheet">


</head>

<body>
    <div class="container">
        <h1>¡Deliciosos Helados a tu Puerta!</h1>

          <!-- Div para mostrar los sabores seleccionados -->
          <div id="saboresSeleccionados">
            <h2>Sabores disponibles:</h2>
            <ul id="listaSabores"></ul>
          </div>

        <h2>Contáctanos para hacer tu pedido o realiza tu pago directamente.</h2>
        
        <div class="buttons">
            <a href="https://wa.me/+541130171218" class="btn whatsapp">Contactarme por WhatsApp</a>
        </div>
        <div class="buttons">
            <a href="LINK_DE_PAGO_MERCADOPAGO" class="btn mercadopago">Pagar con MercadoPago</a>
        </div>

    </div>

    <script>
        // Recuperar los sabores seleccionados de localStorage
        const sabores = JSON.parse(localStorage.getItem('saboresSeleccionados')) || [];
        const listaSabores = document.getElementById('listaSabores');

        // Mostrar los sabores en la lista
        sabores.forEach(sabor => {
            const li = document.createElement('li');
            li.textContent = sabor;
            listaSabores.appendChild(li);
        });
    </script>
</body>
</html>
